.slick-track {
    padding: 60px 0px;
}

.slick-slide {
    padding: 0 15px;
}

.center .slick-slide,
.center .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    transform: scale3d(1, 1, 1);
    opacity: .2;
    transition: all 0.5s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.center .slick-center,
.center .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
    transform: scale3d(1.2, 1.2, 1.2);
    opacity: 1;
    position: relative;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    img {
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    }
}

.center .slick-current.slick-active {
    transform: scale3d(1.2, 1.2, 1.2);
    opacity: 1;
    position: relative;
    z-index: 3;

    img {
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    }
}

// Arrows and dots
.slick-dots {
    position: absolute;
    bottom: 0 !important;
    left: 50%;
    transform: translateX(-50%);
    width: auto !important;
    display: flex !important;
    ul {
        padding: 0;
    }
}

.sliderWrapper {
    position: relative;
    height: 100%;
    padding: 1200px 0px;
    background: #000;
}

.sliderInner {
    position: relative;
    opacity: 0; // !!!!
    display: none; // !!!!
}

.previousHover,
.nextHover {
    position: absolute;
    width: 33%;
    height: calc(100% - 120px);
    top: 60px;
    z-index: 2;
}

.previousHover {
    left: 0;
}
.nextHover {
    right: 0;
}

.prevNext {
    background: none;
    border: none;
    svg {
        width: 32px;
        height: 21px;
        display: block;
    }
}