@import url("./../fonts/EngraversMT/EngraversMT.css");
@import url("./../fonts/SweetSans/SweetSans.css");

html, body {
    font-family: 'Sweet Sans Pro';
    font-weight: 500;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Engravers MT';
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 40px !important;
    font-family: "Engravers MT";
    line-height: 34px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #eba10e;
}