.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}

.logoLoader {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;

    .inner {
        width: 200px;
        height: 200px;
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;

        &>*:nth-child(1) {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        svg {
            position: absolute;
        }

        .logoOuter {
            animation: rotation 13s infinite linear;
        }

        // Inner logo
        .brand {
            width: 70px;
            height: 40px;
            position: relative;
            overflow: hidden;
            > div {
                width: 70px;
                height: 40px;
                position: absolute;
            }
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &.hidden {
        display: none;
    }
}

.top-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
}

.bottom-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
}