* {
    cursor: none;
}

$cursorColor: #eba10e;
$cursorColorAlpha: rgba(235, 161, 14, 0.3);

.cursorRing,
.cursorRing.white {
    position: fixed;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid $cursorColorAlpha;
    border-radius: 100%;
    transition-property: color, background-color, width, height, border;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 99999;
    pointer-events: none;
}

.dot,
.dot.white {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: $cursorColor;
    border-radius: 100%;
    z-index: 99999;
    pointer-events: none;
}

.cursorRing.white {
    border: 2px solid $cursorColorAlpha;
    border-radius: 100%;
}
.dot.white {
    background-color: #FFF;
}

.cursorRing.hovered {
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-color: $cursorColor;
}

.dot.hovered {
    display: none;
}

.cursorRing.video,
.cursorRing.close,
.cursorRing.slider,
.cursorRing.left,
.cursorRing.right,
.cursorRing.view {
    width: 80px;
    height: 80px;
    border: none;
    background-color: #FFF;
}

.dot.video {
    width: 0px;
    height: 0px;
    margin-left: 3px;
    background-color: transparent;
    border-radius: 0;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent $cursorColor;
}

.dot.close {
    background-color: transparent;
}
.dot.close:before, .dot.close:after {
    position: absolute;
    left: 50%;
    top: -6px;
    content: ' ';
    height: 20px;
    width: 3px;
    background-color: $cursorColor;
}
.dot.close:before {
    transform: rotate(45deg);
}
.dot.close:after {
    transform: rotate(-45deg);
}

.dot.slider {
    margin-left: -11px;
    margin-top: -11px;
    background-color: transparent;
}

.dot.slider svg {
    fill: #0070bc
}

.dot.view {
    background-color: transparent;
}

.dot.view svg {
    margin-top: -10px;
    margin-left: -10px;
    width: 30px;
    fill: $cursorColor
}

.dot.left,
.dot.right {
    margin-left: -11px;
    margin-top: -6px;
    background-color: transparent;
}

.imageCursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    pointer-events: none;
    img {
        width: 300px;
        height: auto;
        opacity: .9;
    }
}